.post-header {
    padding: 15px 25px 5px;
    border-bottom: 1px solid $color-grey-e2;

    &:after {
        clear: both;
        content: '';
        display: block;
    }

    h1 {
        margin-top: 0;
    }

    .legend {
        float: right;
        font-size: .75em;
        padding: 5px 0;

        .count {
            font-family: $font-open-sans-italic;

            span {
                display: inline-block;
                background-color: $color--theme-accent;
                color: $color-white;
                padding: 3px 8px;
                margin-right: 5px;
            }
        }
    }
}

.top-post-tracker {
    @include style-contentbox();
    padding: 0;

    @include breakpoint($bp-mobile-landscape) {
        margin-top: 0;
        padding: 0;
    }

    @include breakpoint($bp-tablets-portrait) {
        width: 50%;
        display: inline-block;
    }
}

#top_posts {
    height: 500px;
    overflow-y: scroll;
    position: relative;
    padding: 0 25px;

    .action {
        .btn-more {
            text-transform: uppercase;
            padding: 10px;
            display: block;
            text-align: center;
            font-family: $font-open-sans-semi-bold;
        }
    }
}


.post {
    position: relative;
    padding: 10px 0;

    + .post {
        border-top: 1px solid $color-grey-e2;
    }

    &.twitter {
        &:before {
            background-image: url("/_design/shared/twitter-glyph.png");
        }
    }

    &.instagram {
        &:before {
            background-image: url("/_design/shared/instagram-glyph.png");
        }
    }

    &:before {
        content: '';
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        height: 15px;
        width: 15px;
        position: absolute;
        top: 15px;
        right: 0;
    }

    &:after {
        content: '';
        clear: both;
        display: block;
    }

    .post-info {
        margin-bottom: 5px;

        &:after {
            content: '';
            clear: both;
            display: block;
        }
    }

    .user-info {
        .handle,
        .name {
            display: inline-block;
            margin-right: 15px;
        }

        a.name {
            font-size: 16px;
        }

        a.handle {
            color: $color-grey-33;
            font-family: $font-open-sans-bold;
        }
    }

    .profile-pic {
        float: left;
        width: 50px;
        height: 50px;

        img {
            max-width: 100%;
            height: auto;
            width: auto;
        }
    }

    .go {
        float: right;
        font-family: $font-open-sans-italic;
        margin-top: 5px;
    }

    .content {
        margin-left: 60px;
        padding-right: 35px;
    }

    .favorited {
        position: absolute;
        right: 0;
        top: 35px;
        background-color: $color--theme-accent;
        color: $color-white;
        padding: 3px 8px;
    }

    @include breakpoint($bp-tablets-portrait) {
        &:before {
            left: 0;
            right: auto;
        }

        .post-info {
            text-align: right;
            padding-left: 25px;
        }

        .user-info {
            float: left;
        }
    }
}